<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        bootstrap="./test/bootstrap.php"
        cacheResult ="false">

    <testsuites>
        <testsuite name="Mustache">
            <directory suffix="Test.php">./test</directory>
            <exclude>./test/Mustache/Test/FiveThree</exclude>
        </testsuite>
        <testsuite name="Mustache FiveThree">
            <directory suffix="Test.php" phpVersion="8.1.0" phpVersionOperator=">=">./test/Mustache/Test/FiveThree</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>